body {
    background-color: rgb(114, 197, 233);
}

header {
background-color: pink;
width: 100%;
height: 100px;
color: green;

}

.contenedor {
    border: solid black;
}

#list-unic {
background-color: brown;
font-size:20px
}